@import '@/styles/mixins';

.trigger {
  width: fit-content;
  height: fit-content;
  flex: 0 0 auto;
  cursor: pointer;
  line-height: 1;
}

.BadgeCount {
  padding: var(--spacing-1) var(--spacing-4);
  border: solid 1px;
  border-color: var(--color-neutral-200);
  border-radius: var(--border-radius-rounded);
  background-color: transparent;

  @include on-dark-theme {
    border-color: var(--color-neutral-600);
    background-color: var(--color-neutral-800);
  }
}
