@import '@/styles/mixins';

.Container {
  display: flex;
  overflow: hidden;
}

.ResizeHandle {
  position: absolute;
  // Stay above the Header.
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -5px;
  width: 15px;
  cursor: ew-resize;
  opacity: 0.2;
}

.ContentPanel {
  position: relative;
  overflow: auto;
  flex: 1 1 0;
}

.DrawerPanel {
  position: relative;
  z-index: var(--z-index-drawer-container);

  .inner {
    overflow: auto;
    width: 100%;
    height: 100%;
    box-shadow: -5px 0 5px var(--shadow-color-elevation-2);
  }
}
